.pricblk{
    height: 100vh;
    margin-top: 200px;
    background-color: #f1f1f1;;
}
.heading{
    font-size: 26px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 0;
    text-align: center;
}
.ctxt{
    color: #171717;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
}
.priclist{
    margin: 30px 0 0 0;
    padding: 0;
    text-align: center;
}
.priclistinner{
    border-radius: 4px;
    width: 23.5%;
    display: inline-block;
    text-align: left;
    height: 550px;
    background: #fff;
    border: 1px solid #dfdfdf;
    padding: 10px;
    vertical-align: top;
    margin: 0 7px;
}
.pritxtn {
    margin: 25px 0 35px;
    text-align: center;
    color: #303030;
    font-size: 15px;
    font-weight: 600;
}
ul .listp{
    padding: 0;
    margin: 40px 0 0 25px;
}
ul .listp li{
    color: #303030;
    font-size: 16px;
    line-height: 18px;
    list-style-type: none; 
    list-style: square;
    text-align: left;
    margin-bottom: 15px;
}
.btncir{
    background: #fff;
    border: 1px solid #ED1C24;
    border-radius: 4px;
    font-size: 16px;
    color: #ED1C24;
    font-weight: 600;
    text-align: center;
    padding: 7px 15px;
    display: block;
    margin: 0 auto 20px;
    width: 110px;
}
.rinr.cent {
    text-align: center;
}
li ::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}
.check{
    color: #67e071;
}
.Container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1170px;
}
.feblk_body {
    border: 1px solid #dfdfdf;
    background: #fff;
    padding: 50px 0 0 0;
    margin-bottom: 50px;
}
.feblk_head {
    text-transform: capitalize;
    font-size: 26px;
    line-height: 22px;
    color: #000;
    font-weight: 600;
    margin: 0px 0 30px 0;
    cursor: pointer;
    text-align: center;
}
ul.priceplan {
    border: 0px solid #dfdfdf;
    margin: 15px 0 0px;
    padding: 0px;
    text-align: left;
    background: #fff;
    overflow: hidden;
}
ul.priceplan li:first-child {
    width: 32%;
}
ul.priceplan li {
    float: left;
    width: 17.11%;
    vertical-align: top;
    margin-left: -1px;
    list-style: none;
}
.reghead.tleft {
    text-align: left;
}
.reghead {
    padding: 10px 7px 10px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #000;
    font-weight: 600;
    height: 60px;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
}
.htset.tleft {
    text-align: left;
}
.htset.tleft {
    text-align: left;
}
.iconblk {
    text-align: center;
}

.htset {
    padding: 10px 10px;
    display: table;
    width: 100%;
    font-size: 14px;
    line-height: 16px;
    height: 55px;
    color: #333333;
    font-weight: 400;
    text-align: center;
}
.htset.tleft {
    text-align: left;
}
.iconblk {
    text-align: center;
}
ul.priceplan li .htset:nth-child(2n) {
    background: #f7f7f7;
}