.mobile {
  display: none;
}
#VidCarouselCol{
  width: 33%;
}
.events img {
  height: 250px;
}
.video-event {
  margin-bottom: 60px;
}
.video-event h2 {
  color: #333333;
  font-size: 30px;
  font-weight: 700;
}
.video-event hr {
  width: 18%;
  color: #dc3545;
  height: 2px;
  margin-bottom: 50px;
}

/* @media only screen and (max-width: 425px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
} */
