.events {
  margin-top: 20px;
}
.events img {
  height: 380px;
}
.video-event{
  margin-bottom: 60px;
}
.video-event h2 {
  color: #333333;
  font-size: 30px;
  font-weight: 700;
}
.video-event hr {
  width: 18%;
  color: #dc3545;
  height: 2px;
  margin-bottom: 50px;
}
