
.franchise {
  margin: 20px 10px;
}
.custom-card{
  width: 20rem;
}
.franchise span {
  font-size: 13px;
}
#franchise-img{
  /* width: 280px; */
  height: 180px;
}
.franchise .industry {
  color: #828282;
}
.button{
  width: 100%;
}
a{
  color: #f01;
  text-decoration: none;
}
a:hover{
  color: #eee;
  text-decoration: none;
}
@media only screen and (max-width: 426px){
  .custom-card{
    width: 24rem;
  }
  #franchise-card{
    padding-left: 1.7rem;
  }
  /* #franchise-img{
    width: 340px;
  } */
}
@media only screen and (max-width: 399px){ 
  .custom-card{
    width: 22rem;
  }
}
@media only screen and (max-width: 329px){ 
  /* #franchise-img{
  width: 240px;
} */

  .custom-card{
    width: 18rem;
  }
}