.franchise {
  margin: 20px 0;
}
.franchise span {
  font-size: 13px;
}
.franchise .industry {
  color: #828282;
}
.button{
  width: 100%;
}
a{
  color: #f01;
  text-decoration: none;
}
a:hover{
  color: #eee;
  text-decoration: none;
}