.franchise {
  margin: 20px 0;
  
}
.custom-card{
  width: 20rem;
}
.franchise span {
  font-size: 13px;
}
.franchise .industry {
  color: #828282;
}
.button{
  width: 100%;
}
a{
  color: #f01;
  text-decoration: none;
}
a:hover{
  color: #eee;
  text-decoration: none;
}
@media only screen and (max-width: 426px){
  .custom-card{
    width: 24rem;
  }
}

@media only screen and (max-width: 399px){
  .custom-card{
    width: 18rem;
  }
}