#header {
    width: 100%;
    background: white;
    position: fixed;
    z-index: 2;
    top: 0px;
}

.topbar {
  background-color: #f5f5f5;
  width: 100vw;
}
.top-nav span {
  position: relative;
  top: -0vh;
}
.navlinks {
  color: var(--nav-text);
  font-size: 13px;
  padding-top: 0;
  padding-bottom: 0;
}
.navlinks:hover {
  color: var(--nav-text);
}
.language {
  margin-right: 15px;
  width: 15px;
}
.language-dropdown {
  border: none;
}
select#language-changer {
  height: 27px !important;
  padding: 3px !important;
  font-size: 13px !important;
}
.header-btm{
    margin: 10px 15px;
    text-align: center;
}
.logo{
    position: relative;
    left: 8vh;
}
.search{
    margin-right: 15px;
}
.login-main-section{
    display: flex;
}
.links{
    color: var(--nav-text);
}
.links:hover{
    color: var(--nav-text);
}
/* #bottomBar{
  width: 100vw;
} */

/*media query*/

/*mobile phones*/
@media (max-width:425px) {
  .topbar{
    height: 14vh;
    width: 100vw;
  }
  .top-nav{
    margin: 0 0 0 -1rem;
  }
  #Language{
    margin: 4rem 0 0 -4rem;
  }
  
  #bottomBarOptions{
    left: -49vw;
    margin-top: 5rem;
    position: relative;
    margin-right: 34rem;
}
  .logo{
    left:6vw;
  }
  #hero-section{
    margin-top: 195px;
  }
}
/*tablets & desktop(1024px)*/
@media (max-width:1025px) {
  .topbar{
    width: 100vw;
  }
}