#header {
  width: 100%;
  background: white;
  position: fixed;
  z-index: 2;
  top: 0px;
}

.topbar {
  background-color: #f5f5f5;
  width: 100vw;
}
.top-nav span {
  position: relative;
  top: -0vh;
}
.navlinks {
  color: var(--nav-text);
  font-size: 13px;
  padding-top: 0;
  padding-bottom: 0;
}
.navlinks:hover {
  color: var(--nav-text);
}
.lang {
  margin-right: 30px;
}
.language {
  margin-right: 15px;
  width: 15px;
}
.language-dropdown {
  border: none;
}
select#language-changer {
  height: 27px !important;
  padding: 3px !important;
  font-size: 13px !important;
}
.header-btm {
  margin: 10px 15px;
  text-align: center;
}
.bottom-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 10%;
}
.logo img {
  width: 100%;
}
.icon {
  display: flex;
  margin-right: 5px;
}
.icon img {
  margin-right: 5px;
}
.search {
  margin-right: 15px;
}
.login {
  width: 10%;
}
.login-main-section {
  display: flex;
}
.links {
  color: var(--nav-text);
}
.links:hover {
  color: var(--nav-text);
}
/* #bottomBar{
  width: 100vw;
} */

.input-group-custom{
  margin-left: 74vw;
}
/* @media (max-width:425px) {
  .input-group-custom{
    margin-left: 65vw;
  }
  .navlinks{
    margin-top: 1rem;
  }
} */

@media (max-width:425px) {
  #header{
    display: none;
  }
}