.business {
  display: grid;
  grid-template-columns: 50% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.business .business-card {
  margin-top: 150px;
  width: 60rem;
}
.business-img {
  width: 100%;
}
.column-2 {
  text-align: center;
}
.search-result{
  font-size: 50px;
  color: rgb(110, 110, 110);
  text-align: center;
 margin-top: 20%;
}
@media only screen and (max-width: 500px){
  .search-result{
    margin-top: 40%;
    font-size: 37px;
  }
}