.business {
  display: grid;
  grid-template-columns: 50% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.business .business-card {
  margin-top: 150px;
  width: 60rem;
}
.business-img {
  width: 100%;
}
.column-2 {
  text-align: center;
}
