.content {
  margin: 0 100px;
  overflow: hidden;
  /* text-align: center; */
}

.FeaturedFranchise{
  display: flex;
}

@media (max-width: 425px) {
  .content {
    margin: 0 20px;
  }
  .FeaturedFranchise{
    display: block;
  }
  #TrendFran{
    position: relative;
    top: 9rem;
  }
  #FrenchFries{
    margin-left: -22px;
  }
  .trending-sec{
    flex-direction: column;
  }
  .trend-fran{
    margin-top: 100px;
    margin-bottom: 0;
    z-index: 1;
  }
}
